<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="128">
		<setting label="30001" type="select" id="2048_theme" values="Light|Dark" default="Light"/>
		<setting label="30002" type="select" id="2048_fps" values="60|72|75|90|100|119|120|144|155|160|165|180|200|240|244|300|320|360|480|540" default="60"/>
	</category>
</settings>
